@import "containers.scss";
@import "vars.scss";
@import "fonts.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F2F2F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

ul, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.main {
  display: grid; 
  grid-template-columns: 300px 1fr; 
  grid-template-rows: auto 1.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a h"
    "a c"; 
}

.content {
  grid-area: c;
}
