@import "./vars.scss";

.text-link {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #1c1d1f;
}

.title-1 {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1C1D1F;
}