
// BG

$bg-primary: #FFFFFF;
$bg-sacandary: #F2F2F5;
$bg-tertiary: #EDEDF0;
$bg-page: #DADADE;
$bg-success: #2442E8;

// LINKS
// $primary-color: #2442E8;
// $primary-text-and-headings: #2442E8;

// TEXT
$text-primary: #1c1d1f;
$text-sacandary: #818193;
// $primary-text: #2442E8;
$primary-text-headers: #2442E8;
$primary-text-and-headings: #2442E8;
$inactive-text: #AEAEBE;
$alternative-text: #FFFFFF;

$text-title: $text-primary;
$text-link: $text-primary;

$acsses-color: #02B902;
$reject-color: #FB2B2B;

// FONTS 
$font-primary: 'Inter';

// BUTTONS 
$btn-primary: #e4e4e9;

// ASIDE 
$aside-bg: $bg-sacandary;
$aside-link: $alternative-text;

// Header
$header-bg: $bg-sacandary;

