@import '../vars.scss';

.aside {
  padding: 24px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background: $aside-bg;
  position: absolute;
  top: 0;
  left: 0;
  grid-area: a;

  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
  grid-template-columns: 1.4fr 40px;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    'logo .'
    'links .'
    'af .';

  a {
    color: $aside-link;
  }

  &:active {
    color: $acsses-color;
  }

  &__logo {
    grid-area: logo;
  }

  &__list {
    padding: 26px 0;
    grid-area: links;
  }

  &__footer {
    grid-area: af;

    &-title {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;

      color: $text-sacandary;
    }

    &-phone {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      color: $text-primary;
    }

    &-btn {
      margin-bottom: 24px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 12px 6px 10px;
      gap: 6px;

      background: #e4e4e9;
      border-radius: 10px;

      font-weight: 500;
      font-size: 12px;
      line-height: 20px;

      color: $text-primary;
    }

    &-c {
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      /* identical to box height, or 136% */

      display: flex;
      align-items: center;

      /* text/inactive and additional points, minor information and helpers */

      color: #aeaebe;
    }
  }
}
