.shared-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Inter';

  &.btn-success {
    padding: 5px 10px;
    background: #37c337;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &.btn-error {
    padding: 5px 10px;
    background: #ed3838;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}
