@import '../vars.scss';

.product {
  padding: 10px;
  width: 100%;
  background-color: $bg-primary;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px 5px 0px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}