.chared-search {
  position: relative;
  
  &__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  input {
    width: 100%;
    height: 32px;
    max-width: 260px;
    padding-left: 36px;
    background: #f2f2f5;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    outline: none
  }
}
