@import '../vars.scss';

.page-title {
  padding-top: 4px;
  padding-bottom: 30px;  
  background-color: $bg-sacandary;
  
  
  h2 {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: $text-title;
  }
}