.filtered-panel {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  background: #f2f2f5;
  margin-bottom: 12px;

  &__item {
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &:before {
      content: '';
      background: #00000026;
      width: 1px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    &:first-child {
      padding-left: 68px;
      max-width: 206px;
    }
  
    &:nth-child(3) {
      max-width: 240px;
    }

    &:last-child {
      padding-right: 68px;
      max-width: 160px;
      svg {
        display: none;
      }

      &:before {
        display: none;
      }
    }
  }
}
