.product-panel {
  overflow: hidden;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  max-height: 56px;

  // display: flex;

  &.visible {
    max-height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__arrow {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;

    &.visible {
      transform: rotate(0deg);
    }
  }
}
