.table-product {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #1c1d1f;

  tr {
    transition: background 0.3s ease-in-out;
  }

  tr:hover {
    background: rgba(36, 66, 232, 0.1);
  }

  td,
  th {
    padding: 12px;
    height: 52px;
  }

  th {
    color: #fff;
    font-weight: normal;
  }

  &__column-1 {
    width: 52px;
    text-align: center;
  }

  &__column-2 {
    width: 160px;
  }

  &__column-4 {
    width: 240px;
  }

  &__column-5 {
    width: 104px;
    font-size: 12px;
  }

  &__column-6 {
    width: 48px;
    text-align: center;
  }
}
